<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="/">👟 <span>SNKR</span>RANK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('leaderboard_view') }}">Leaderboard</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('add_view') }}">Добавить модель</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('tinder_for_shoes_view') }}">Mindchanger</a></li>
            </ul>
        </div>
    </div>
</nav>